<div
  class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 prose md:prose-lg lg:prose-xl"
>
  <!-- The <p> tag below is used for spacing purposes -->
  <p></p>
  <h1 class="text-center">Binary Clock</h1>
  <app-binary-clock class="flex justify-center"></app-binary-clock>
  <div class="prose-xl font-medium text-black text-justify">
    <!-- The <p> tag below is used for spacing purposes -->
    <p></p>
    <p>
      Welcome to the fascinating world of binary clocks! These unique timepieces
      display the current time using binary code, adding a touch of tech-savvy
      flair to your timekeeping. Let's break down how to decipher the language
      of lights and columns.
    </p>
    <h4 class="font-bold">Binary Clock Basics: Columns and Rows</h4>
    <p>
      A binary clock typically consists of 6 columns and 4 rows. The left 2
      columns represent hours, the middle 2 represent minutes, and the right 2
      represent seconds. The rows, from bottom to top, signify 1, 2, 4, and 8,
      respectively. Remember, columns are vertical, and rows are horizontal.
      Number the columns 1-6 from left to right for easy reference. The left
      column represents the 10s place, while the right column represents the 1s
      place.
    </p>
    <h4 class="font-bold">Decoding the Hours, Minutes, and Seconds</h4>

    <p>
      <strong>Reading the Hours:</strong> Decode the first 2 columns. Match the
      lit lights with the numbers represented by each row. Combine the numbers
      from both columns. For example, if the bottom row in the first column is
      lit, and the second column is blank, the hour is 10.
    </p>
    <p>
      <strong>Finding the Minutes:</strong> Use the same process for the middle
      2 columns. Match the lit lights with the numbers for each row. If, for
      instance, the bottom 2 lights in the first column and the bottom 3 lights
      in the second column are lit, the minutes correspond to 37.
    </p>
    <p>
      <strong>Deciphering the Seconds:</strong> Apply the same strategy to the
      last 2 columns. Identify the lit lights to determine the seconds. Keep in
      mind that this can be a bit tricky due to the ever-changing nature of
      seconds.
    </p>

    <h4 class="font-bold">Putting it All Together</h4>
    <p>
      Combine the decoded hours, minutes, and seconds, separating them with
      colons. For example, if the hours are 10, minutes are 37, and seconds are
      49, the time reads 10:37:49.
    </p>
    <h4 class="font-bold">Military to Traditional Time Conversion</h4>
    <p>
      Binary clocks typically display military time. If the hour is greater than
      12, subtract 12 to convert to traditional time. For instance, if the
      result is 18:30:07, subtract 12 from 18 to get 6:30:07 p.m.
    </p>
    <p>
      Now you're equipped to interpret the language of lights on a binary clock.
      Happy decoding!
    </p>
    <!-- The <p> tag below is used for spacing purposes -->
    <p></p>
  </div>
</div>
